<div
  class="bg-login-color h-screen justify-center items-center flex flex-col gap-5"
>
  <h1 class="font-semibold text-3xl text-center text-white">Timesheet</h1>
  <div class="bg-white h-[40vh] w-[30vw] p-5">
    <h1 class="text-center text-black font-semibold text-xl">Login</h1>
    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col justify-center items-center gap-2 mt-5"
    >
      <div class="w-full flex flex-row items-center">
        <fa-icon class="pr-3 text-20" [icon]="faUser"></fa-icon>
        <mat-form-field class="w-full text-16">
          <mat-label>User name or email</mat-label>
          <input
            matInput
            placeholder="pat@example.com"
            formControlName="userNameOrEmailAddress"
            required
          />
        </mat-form-field>
      </div>
      <div class="w-full flex flex-row items-center">
        <fa-icon class="pr-3 text-20" [icon]="faLock"></fa-icon>
        <mat-form-field class="w-full text-16">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <mat-checkbox class="font-bold">Remember me</mat-checkbox>
      <button
        [disabled]="loginForm.invalid"
        type="submit"
        (ngSubmit)="onSubmit()"
        mat-raised-button
        color="accent"
      >
        Login
      </button>
    </form>
  </div>
</div>
